/* ==========================
   RESET
========================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:"Inter",sans-serif;
    background:var(--bg);
    color:var(--text);
    line-height:1.7;

}

img{

    display:block;
    max-width:100%;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

section{

    padding:90px 8%;

}

h1,
h2,
h3,
h4{

    font-family:"Space Grotesk",sans-serif;
    font-weight:700;

}

.container{

    max-width:var(--container);
    margin:auto;

}

/* ==========================
   BOTONES
========================== */

.button{

    display:inline-flex;
    justify-content:center;
    align-items:center;

    padding:16px 34px;

    background:var(--gradient);

    color:#fff;

    border-radius:var(--radius-md);

    font-weight:700;

    transition:var(--transition);

    box-shadow:var(--shadow-md);

}

.button:hover{

    transform:translateY(-4px);

    box-shadow:var(--shadow-lg);

}

.secondary{

    background:#fff;
    color:var(--bg);

}

.secondary:hover{

    background:#E5E7EB;

}
